<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashutoshjena.jumbledwords">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JumbledWords">
        <activity
            android:name=".activity.GameActivity"
            android:theme="@style/MainTheme.JumbledWords" />
        <activity android:name=".activity.CategoryActivity"
            android:theme="@style/MainTheme.JumbledWords"/>
        <activity android:name=".activity.MainActivity"
            android:theme="@style/MainTheme.JumbledWords">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>